	<footer class="footer">
  <div class="grid grid--container">
      <div class="row row--sm-center">
        <div class="col col--sm">
          <ul class="list-unstyled">
            <li>
            <span>
              <a href="{{ .Site.BaseURL }}" id="nav-logo">
                <img width="300" src="/img/digitalcloud-logo.png" alt="{{ .Site.Title }}">
              </a>
            </span>
            </li>
            <li>
              <p>
                {{- with .Site.Copyright -}}
                {{ . }}
                {{- else -}}
                {{- with .Site.Params.copyright -}}
              
                {{ with .startyear }}
                {{ if lt ( int . ) now.Year }}
                {{ $.Scratch.Set "copyrightStartYear" . }}
                {{ end }}
                {{ end }}
              
                {{ .prefix }} &copy; {{ with ( $.Scratch.Get "copyrightStartYear" ) }}{{ . }}-{{ end }}{{ now.Year }}
                {{ or .holder $.Site.Title }} {{ .suffix }}
                {{- end -}}
                {{ end }}
              </p>
            </li>
          </ul>

        </div>
        <div class="col col--sm text--sm-left">
          <h4>Contact Us</h4>
          <ul class="list-unstyled">
            
            <li><a class="phone-number-alt" href="tel:541-391-3445">(541) 375-0255</a></li>
            <li>Mon - Fri 8:00AM-6:00PM</li>
            <li>Sat - Sun Closed</li>
          </ul>
        </div>

        {{/*  <div class="col col--sm text--sm-left">
          {{ partial "nav/menus/social.html" . }}
        </div>  */}}
        
      </div>
    </div>
  </footer>