{{ define "main" }}
<div class="section header">
  <div class="grid grid--container">
      <div class="row">
        <div class="col col--sm col--sm-align-center text--xs-center">
          <h1>{{ .Params.PageTitle }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="grid grid--container">
    <div class="row">
      <div class="col col--sm">

      {{ range .Site.Data.portfolio }}
      <div class="row item">
        <div class="col col--sm col--sm-align-center">
           <div class="box-masonry">
              <img src="{{ .image }}" alt="Website designed for {{ .Name }}" class="img-responsive">
            </div>
        </div>
        <div class="col col col--sm col--sm-offset-1 col--sm-align-center">

            <h4>{{ .Name }}</h4>

                <span>{{ .description | markdownify }}</span>

            <div class="summary">
                <p>{{ .summary }}</p>
            </div>
            <div class="tags">
                {{ range .tags }} <kbd class="item-tag">{{ . }}</kbd> {{ end }}
            </div>
        </div>
      </div>
      {{ end }}

      </div>
    </div>
  </div>
</div>

{{ end }}