// Grid breakpoints
$breakpoints: (
        xs : 0,
        sm : 544px,
        md : 768px,
        lg : 992px,
        xl : 1000px
) !default;

// Number of columns
$columns: 12 !default;

// Colors
//$primary:   #2196F3;
$primary: 	  #1078FF;
$primary-alt: #e0ecf3;
$secondary: #dddddd;
$green:		#3ECF8E;
$white:     #ffffff;
$grey:      #f6f9fc;
$light-grey: #e6e6e6;
$dark-grey: #6b7c93;
$dark-grey-alt: darken($dark-grey, 20%)