//NAVIGATION {
  #nav-background {
    position: absolute;
    left: 0;
    top: 10px;
    right: 0;
    z-index: 500;
    -webkit-perspective: 2000px;
    perspective: 2000px;
  }

.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 0.5rem;
  border-bottom: 1px solid $light-grey;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  &.home {
    border-bottom: none;
  }
}

header {
  color: $dark-grey-alt;
}

header::after {
  content: '';
  clear: both;
  display: block;
}

.home > .logo {
  color: $white;
}

.logo {
  font-weight: 400;
  color: $dark-grey-alt;
  text-decoration: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}

.logo span {
  font-weight: 400;
}

.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: $white;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
/*   display: none; */
  &.site-nav--open {
      -webkit-box-shadow: 0 50px 100px rgba(50,50,93,.1),0 15px 35px rgba(50,50,93,.15),0 5px 15px rgba(0,0,0,.1);
    box-shadow: 0 50px 100px rgba(50,50,93,.1),0 15px 35px rgba(50,50,93,.15),0 5px 15px rgba(0,0,0,.1);
  }
}


.site-nav--open {
  clip-path: circle(250% at top right);
/*   display: block; */
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid $light-grey;
}

.site-nav a {
  color: $primary;
  display: block;
  padding: 1.5em 4em 1.5em 1.5em;
  text-decoration: none;
}

// .site-nav a:hover,
// .site-nav a:focus {
//   background: #E4B363;
//   color: #464655;
// }

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255,255,255,.4);
}

.menu-toggle {
  padding: 1em 0;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: $dark-grey-alt;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

.hamburger-white,
.hamburger-white::before,
.hamburger-white::after {
  content: '';
  display: block;
  background: $white;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger-white::before {
  transform: translateY(-6px);
}

.hamburger-white::after {
  transform: translateY(3px);
}

.open .hamburger-white {
  transform: rotate(45deg);
}

.open .hamburger-white::before {
  opacity: 0;
}

.open .hamburger-white::after {
  transform: translateY(-3px) rotate(-90deg);
}

@media (min-width: 768px) {

  .menu-toggle {
    display: none;
  }

  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: initial;
  }

  .site-nav li {
    display: inline-block;
    border: none;
  }

  .home > .site-nav a {
    color: $white;
  }

  .site-nav a {
    color: $dark-grey-alt;
    padding: 1em 0;
    margin-left: 3em;
  }

  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
  }

  .site-nav--icon {
    display: none;
  }

}
