<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

<head>
    {{ block "site/meta" . }}{{ partial "site/meta.html" . }}{{ end }}
    {{ block "site/styles" . }}{{ partial "site/styles.html" . }}{{ end }}
    
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TGCRXBX');</script>

    <script type="text/javascript">
        window.onload = function prism() {
            var pr = document.getElementsByTagName('pre');
            for (var i = 0; i < pr.length; i++) {
                pr[i].className += 'language-css';
            }
            var co = document.getElementsByTagName('code');
            for (var i = 0; i < co.length; i++) {
                co[i].className += 'language-css';
            }
        }
    </script>

    <script type="application/ld+json">
    {
    "@context": "http://schema.org/",
    "@type": ["LocalBusiness","Service"],
        "aggregateRating" : {
        "@type" : "AggregateRating",
        "ratingValue": "5",
        "reviewCount": "3"
    },
    "name": "Digital Cloud, LLC",
    "description": "Creative web design company based in Roseburg, OR",
    "logo": "https://www.digitalcloudnw.com/img/digitalcloud-logo.png",
    "image": "https://www.digitalcloudnw.com/img/digitalcloud-logo.png",
    "url": "https://www.digitalcloudnw.com",
    "email": "josh@digitalcloudnw.com",
    "telephone": "541-391-1038",
    "openingHours": "Mo-Fr 08:00-18:00",
    "serviceType": "Web Design, Web Development, SEO, and Google Marketing",
        "priceRange" : "$$$",
        "address" : {
        "@type" : "PostalAddress",
        "streetAddress" : "",
        "addressLocality" : "Roseburg",
        "addressRegion" : "OR",
        "postalCode" : "97471"
    },
    "areaServed" : [
                {"@type" : "Place",
                            "name": ["Roseburg, Oregon"]
                },
                {"@type" : "Place",
                            "name": ["Winston, Oregon"]
                },
                {"@type" : "Place",
                            "name": ["Glid, Oregon"]
                },
                {"@type" : "Place",
                            "name": ["Sutherlin, Oregon"]
                },
                {"@type" : "Place",
                            "name": ["Myrtle Creek, Oregon"]
                },
                {"@type" : "Place",
                        "name": ["Riddle, Oregon"]
                },
                {"@type" : "Place",
                        "name": ["Winchester, Oregon"]
                },
                {"@type" : "Place",
                        "name": ["Elkton, Oregon"]
                },
                {"@type" : "Place",
                        "name": ["Eugene, Oregon"]
                },
                {"@type" : "Place",
                        "name": ["Cottage Grove, Oregon"]
                },
                {
                    "@type": "State",
                    "name": "Oregon"
                }
                
            ],
    "hasOfferCatalog": {
        "@type": "OfferCatalog",
        "name": "Services",
        "itemListElement": [
        {
            "@type": "OfferCatalog",
            "itemListElement": [
            {
                "@type": "Offer",
                "itemOffered": {
                "@type": "Service",
                "name": "Web Design"
                }
            },
            {
                "@type": "Offer",
                "itemOffered": {
                "@type": "Service",
                "name": "Web Development"
                }
            },
            {
                "@type": "Offer",
                "itemOffered": {
                "@type": "Service",
                "name": "SEO"
                }
            },
            {
                "@type": "Offer",
                "itemOffered": {
                "@type": "Service",
                "name": "Google Marketing"
                }
            }
            ]
        }
        ]
    }
    }
    </script>

    {{- $url := replace .Permalink ( printf "%s" ( "/" | absLangURL ) ) "" -}}
    {{- $url := replace .Permalink ( printf "%s" ( "/" | absLangURL ) ) "" -}}

    {{- $.Scratch.Add "path" ( "/" | absLangURL ) -}}
    {{- $.Scratch.Add "breadcrumb" (slice (dict "url" ( "/" | absLangURL ) "name" "home" "position" 1 )) -}}
    {{- range $index, $element := split $url "/" -}}
    {{- $.Scratch.Add "path" $element -}}
    {{- $.Scratch.Add "path" "/" -}}
    {{- if ne $element "" -}}
    {{- $.Scratch.Add "breadcrumb" (slice (dict "url" ($.Scratch.Get "path") "name" . "position" (add $index 2))) -}}
    {{- end -}}
    {{- end -}}

    <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
    {{ range $.Scratch.Get "breadcrumb" }}
        {{ if ne .position 1 }},
    {{ end }}
    {
            "@type": "ListItem",
            "position": {{ .position }},
            "item": {
            "@id": "{{ .url }}",
            "name": "{{ .name }}"
            }
        }{{ end }}]
    }
    </script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGCRXBX" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    
    {{ block "header" . }}{{ partial "site/header.html" . }}{{ end }}

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}{{ partial "site/footer.html" . }}{{ end }}

    {{ block "site/scripts" . }}{{ partial "site/scripts.html" . }}{{ end }}
</body>
</html>