{{ define "main" }}
<div class="section header">
    <div class="grid grid--container">
        <div class="row">
            <div class="col col--sm col--sm-align-center text--xs-center">
                <h1>{{ with .Params.PageTitle }}{{ . | safeHTML }}{{ end }}</h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="grid grid--container">
        <div class="row">
            <div class="col col--sm-9 col--sm-offset-1">
            {{ .Content }}
            <div class="row">
                <div class="col col--sm-7 col--sm-offset-5 col--xs-align-center" style="padding:2.5rem 0;">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="row">
                <div class="col col--sm col--sm-align-top">
                    <form id="contact-form" name="contact" data-netlify="true" netlify-honeypot="bot-field" method="post">
                        <input id="subject" type="hidden" name="subject" data-remove-prefix value="Contact form from digitalcloudnw.com" />
                        <input type="text" name="Name" placeholder="Name" onblur="this.setAttribute('value', this.value);" value=""
                        required>
                        <input placeholder="Email address" type="email" name="_replyto"
                        onblur="this.setAttribute('value', this.value);" value="" required>
                        <textarea name="Message" cols="30" rows="6" placeholder="Message" required></textarea>
                        <input type="hidden" name="bot-field" />
                        <input class="ghost-button-rounded-corners" type="submit" value="Send Message">
                    </form>
                </div>
                <div class="col col--sm col--sm-align-top">
                    <div class="call">
                        <h4>Prefer to Call?</h4>
                        <a class="phone-number" href="tel:541-375-0255"><i class="phone-handset"></i> (541) 375-0255</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{{ end }}