{{ partial "header" . }}
<div class="section header">
  <div class="grid grid--container">
      <div class="row">
        <div class="col col--sm col--sm-align-center text--xs-center">
          <h1>{{ .Params.PageTitle }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="grid grid--container">
    <div class="row">
        <div class="col col--sm-9 col--sm-offset-1">
          {{ range (.Paginator 5).Pages }} {{ partial "summary" . }} <hr> {{ end }}

          {{ partial "paginator" . }}

        </div>
    </div>
  </div>
</div>

{{ partial "footer" . }}
