	<footer class="footer">
  <div class="grid grid--container">
      <div class="row row--sm-center">
        <div class="col col--sm">
          <p>
            {{- with .Site.Copyright -}}
              {{ . }}
            {{- else -}}
              {{- with .Site.Params.copyright -}}

                {{ with .startyear }}
                  {{ if lt ( int . ) now.Year }}
                    {{ $.Scratch.Set "copyrightStartYear" . }}
                  {{ end }}
                {{ end }}

                {{ .prefix }} &copy; {{ with ( $.Scratch.Get "copyrightStartYear" ) }}{{ . }}-{{ end }}{{ now.Year }} {{ or .holder $.Site.Title }} {{ .suffix }}
              {{- end -}}
            {{ end }}
        </p>
        </div>
        <div class="col col--sm text--sm-right">
          <!--
          {{ partial "nav/menus/social.html" .}}
          -->
          <a class="ghost-button-rounded-corners-white" href="/contact">Contact</a>

        </div>

      </div>
    </div>
	</footer>
    <script type="text/javascript">
    $('.menu-toggle').click(function() {
     $('.site-nav').toggleClass('site-nav--open', 500);
      $(this).toggleClass('open');
    });
  </script>
</body>
<script src="{{ .Site.BaseURL }}js/script.js"></script>

<script src="{{ .Site.BaseURL }}js/prism.js"></script>

<script src="{{ .Site.BaseURL }}js/prism-command-line.js"></script>

</html>
